.nav-item a:hover {
  color: #0DD0FA;
}

/* hero image section */
/* .hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.hero-2 {
  /* background-color: #0DD0FA; */
}

/* hero image & text */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/group.jpeg"); */
  /* background-image: url(https://www.netcarshow.com/Toyota-Land_Cruiser-2010-1280-05.jpg); */
  background-image: url(./images/group.jpeg);

  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image .card {
  color: black;
  font-weight: bold;
  font-size: 16px;
  opacity: .7;
  /* background-image: none; */
  background-color: rgba(255, 255, 255, 0.1);


}





/* .skyblue {
  background-color: #0DD0FA;
  height: 600px;
} */

/* hero image section */

/*  */
/* .speedo {
  background-color: #204088;
  color: white;
  font-size: 20px;
  margin-top: -120px;
  margin-left: 299px;
  padding: 20px;
  border-radius: 3%;
}

.speedo .card-title {
  font-size: 35px;
  font-weight: bold;
}

.speedo button {
  background-color: #FC4A3C;
  border-radius: 10%;
  color: white;
  font-weight: bold;
} */

/* .speedoo {
  background-color: #204088;
  color: white;
  font-size: 16px;
  margin-top: 99px;
  margin-bottom: 20px;
  padding: 20px;
}

.speedoo .card-title {
  font-size: 35px;
  font-weight: bold;
}

.speedooo {
  background-color: #204088;
  color: white;
  font-size: 16px;
  padding: 20px;
} */

/*  */
hr.redd {
  border-top: 1px dotted red;
}

.academic {
  background-color: #204088;
  color: white;
  height: 200px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  float: center;
  margin-left: 42%;
  margin-top: -100px;
}

/* excellence start */
.excellence h5 {
  color: blue;
}

.excellence h3 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* services */
.servicess {
  background-color: #204088;
}

.why h4 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}

.why {
  margin-top: 90px;
  color: white;
  font-size: 16px;
}
/* 
.why button {
  background-color: #0DD0FA;
  font-size: 30px;
  border-radius: 15px;
} */

.why button a {
  text-decoration: none;
  color: white;
}

/*  */
.work {
  text-align: center;
}

.work h5 {
  color: #204088;
  font-size: 25px;
}

.work h4 {
  font-size: 33px;
  margin-bottom: 20px;
}

.work p {
  font-size: 18px;
}

/*  */
.vip h5 {
  font-size: 38px;
  font-weight: bold;
  color: #204088;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.follow {
  background-color: blue;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #eee;
}

.one {
  padding: -30px;
  padding-right: -30px;
  margin-right: -430px;
}

.footer {
  background-color: #204088;
}

.disc h4 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0DD0FA;
  padding-bottom: 5px;
}

.quick h4 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0DD0FA;
  padding-bottom: 5px;
}

.cont h4 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0DD0FA;
  padding-bottom: 5px;
}

.disc ul li {
  list-style-type: none;
  font-weight: bold;
  color: #eee;
  margin-bottom: 10px;
  margin-left: -20px;


}

.quick ul li {
  list-style-type: none;
  color: orange;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: -30px;

}

.cont ul li {
  list-style-type: none;
  font-weight: bold;
  color: orange;
  margin-left: -50px;
  margin-top: -20px;
}

.cont ul li a {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  color: orange;
}

.sub h4 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0DD0FA;
  padding-bottom: 5px;
}

.sub p {
  color: white;
}

.pal img {
  width: 400px;
  height: 150px;
  border-radius: 15px;
  float: right;
}

.butom {
  background-color: white;
  height: 70px;
  width: 420px;
  margin-bottom: 20px;
}

.butom p {
  font-weight: bold;
  font-size: 40px;
  color: blue;
  padding-left: 15px;
  padding-right: 15px;
  font-style: italic;
}

.buttom ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
}

.buttom li {
  display: block;
}

.buttom ul li a {
  color: white;
}

.copy {
  background-color: skyblue;
  height: 60px;
  text-align: center;

}

.copy p {
  font-weight: bold;
  color: white;
  padding-top: 15px;
  font-size: 20px;
}

/* CSS */
.button-1 {
  background-color: #FC4A3C;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: white;
  color: #FC4A3C;
}


/* media screens code */


@media (max-width:1199px) {
  .aside {
    left: -270px;
  }

  .main-content {
    padding-left: 0;
  }

  .about .about-content .personal-info .info-item p span .hero .skyblue .footer .pal .follow .academic .speedo .speedoo .speedooo {
    display: block;
    margin-left: 0;
  }
}

@media (max-width:991px) {

  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .hero .skyblue .footer .pal .follow .academic .speedo .speedoo .speedooo {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width:767px) {

  .collapse .navbar .hero .skyblue .footer .pal .academic .speedo .speedoo .speedooo .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info .follow {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}



